.popup__input {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    padding-bottom: 13px;
    align-self: center;
    font-size: 14px;
    line-height: 17px;
    color: black;
    min-width: 358px;
    margin-bottom: 5px;
}

.popup__input::placeholder {
    opacity: 0.4;
}

@media screen and (max-width: 475px) {
    .popup__input {
        min-width: 232px;
    }
}