.popup__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 430px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 475px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
