.profile__edit {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 415px;
  gap: 16px 18px;
  grid-template-areas:
    "title edit"
    "subtitle .";
}

@media screen and (max-width: 975px) {
  .profile__edit {
        gap: 14px 10px;
  }
}
