.popup__form-close {
	background: url("../../../images/Close\ Icon.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -50px;
	right: -40px;
	border: none;
}