.profile__subtitle {
  max-width: 415px;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .profile__subtitle {
    max-width: 282px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
  }
}
