.card__lovebutton {
  width: 21px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
.card__lovebutton:hover {
  background: url("../../../images/hoveredHeart.svg");
  background-repeat: no-repeat;
}
