.profile__buttons-add {
	width: 150px;
	height: 50px;
	background-image: url('../../../../images/addButton.png');
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid white;
}

@media screen and (max-width: 975px) {
	.profile__buttons-add {
			margin-left: 95px;
		}
}

@media screen and (max-width: 890px) {
  .profile__buttons-add {
    width: 282px;
		margin: 0 auto;
  }
}