.popup__form {
		background-color: white;
	padding-left: 37px;
	border-radius: 10px;
}

.popup__form input {
	width: 358px;
	margin-bottom: 37px;
	font-size:14px;
	line-height: 17px;
	color:black;
}

.popup__form input[type='submit'] {
		color: white;
	font-size: 18px;
	line-height: 22px;
}