.cards {
    background-color: black;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 21px 17px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 975px) {
    .cards {
        max-width: 775px;
        grid-template-columns: repeat(2, 282px);
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .cards {
        max-width: 282px;
        grid-template-columns: repeat(1, 282px);
        justify-content: center;
    }
}