.popup__error {
    font-size: 12px;
    line-height: 15px;
    max-width: 358px;
    margin-bottom: 13px;
    margin-left: 36px;
}

@media screen and (max-width: 475px) {
    .popup__error {
        max-width: 238px;
        margin-left: 22px;
    }
}