@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 1;
    }
    75% {
        opacity: 0.7;
    }
    25% {
        opacity: 0.4
    }
    0% {
        opacity: 0;
    }
}