.popup__form-field {
  border: none;
  border-bottom: 1px solid grey;
  padding: 0;
  padding-bottom: 13px;
  align-self: center;
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 17px;
  color: black;
  min-width: 358px;
}

@media screen and (max-width: 475px) {
  .popup__form-field {
    min-width: 232px;
  }
}
