.profile__buttons-edit {
width: 24px;
height: 24px;
background-color: black;
background-image: url('../../../../images/editButton.png');
background-position: center;
background-repeat: no-repeat;
grid-area: edit;
}

