.popup__form-button {
  min-width: 358px;
  background-color: black;
  padding: 15px;
  margin-bottom: 36px;
  border-radius: 2px;
  transition: ease-in 0.3s;
  color: white;
  align-self: center;
}

.popup__form-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 475px) {
  .popup__form-button {
    min-width: 238px;
  }
}
