.card__deletebutton {
    position: absolute;
    right: 0;
    width: 18px;
    height: 19px;
    margin: 18px 15px 0 0;
    background: url("../../../images/trashcan.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    transition: ease .3s;
    pointer: cursor;
}

.card__deletebutton:hover {
    opacity: 0.5;
}